<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
    <p>
        이미 계정이 있으신가요? <a href="{% url 'login' %}">로그인 페이지</a>로 이동하기.
    </p>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>
