<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>
        계정이 없으신가요? <a href="{% url 'signup' %}">회원가입</a>을 해주세요.
    </p>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>
